.thank-you {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h1.heading {
	font-family: var(--ff-bold);
	font-weight: var(--fw-bold);
	font-size: var(--fs-26);
	letter-spacing: 0.02em;
	text-transform: uppercase;
    text-align: center;
}
