.stepper-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.back-button {
	padding: 0;
	cursor: pointer;
	position: relative;
	color: white;
	border: 0;
	font-family: var(--ff-bold);
	font-weight: var(--fw-bold);
	background-color: transparent;
	text-transform: uppercase;
	margin-left: 40px;
}

.back-button:focus {
	outline: none;
}

.back-button::before {
	content: '';
	position: absolute;
	left: -40px;
	top: 50%;
	transform: translate(0px, -50%);
	width: 25px;
	height: 12px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='26' height='16' viewBox='0 0 26 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.293 7.293a1 1 0 0 0 0 1.414l6.364 6.364a1 1 0 0 0 1.414-1.414L2.414 8l5.657-5.657A1 1 0 0 0 6.657.93L.293 7.293ZM26 7H1v2h25V7Z' fill='%23fff'/%3E%3C/svg%3E");
	transition: all 0.3s ease-in-out;
}

.back-button:hover::before,
.back-button:focus::before {
	transform: translate(5px, -50%);
}

@media only screen and (max-width: 700px) {
	.stepper-header {
		margin-top: 20px;
		margin-bottom: 0;
		justify-content: flex-start;
	}
	.back-button {
		display: none;
	}
}
