h1.step-heading {
  font-family: var(--ff-bold);
  font-weight: var(--fw-bold);
  font-size: var(--fs-42);
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 50px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.final-step h1.step-heading {
  font-size: var(--fs-36);
}