.custom-number-input {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 55px;
  display: flex;
  font-family: var(--ff-bold);
  font-weight: var(--fw-bold);
  font-size: var(--fs-20);
  margin-bottom: 48px;
}

.custom-number-input button {
  position: relative;
  cursor: pointer;
  width: 68px;
  height: 100%;
  color: var(--gray);
  background-color: transparent;
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='57' viewBox='0 0 70 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1v43l11.5 12H69V16L54 1H1Z' fill='%23000' stroke='%23969696'/%3E%3C/svg%3E");
  z-index: 10;
  transition: color 0.3s ease-in-out;
}

.custom-number-input button:hover,
.custom-number-input button:focus {
  color: white;
}

.custom-number-input button:focus {
  outline: none;
}

.custom-number-input input {
  position: absolute;
  left: 34px;
  z-index: 5;
  text-align: center;
  width: 192px;
  height: 100%;
  color: white;
  background-color: transparent;
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='194' height='57' viewBox='0 0 194 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1v43l32.47 12H193V16L150.647 1H1Z' fill='%23111' stroke='%23969696'/%3E%3C/svg%3E");
}