.subscribe-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    max-width: 800px;
    height: 550px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-width: 0;
    background-color: #030303;
}

.subscribe-modal .header {
	font-family: 'Monument Extended Regular';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 100%;
	text-transform: uppercase;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.subscribe-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff55;
  }

.subscribe-modal:focus {
    outline: none;
}

.subscribe-modal .close-button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 0;
    width: 56px;
    height: 56px;
    background-color: transparent;
    border-width: 0;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.subscribe-modal .close-button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.subscribe-modal .close-button .close-icon {
    width: 100%;
    height: 100%;
}

.subscribe-modal .content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 30px;
    z-index: 1;
}

@media only screen and (max-width: 700px) {
	.subscribe-modal {
        height: 500px;
        width: 95%;
    }

    .subscribe-modal .header {
        font-size: 26px;
    }
}
